{%extends 'base.html'%}
{% load bootstrap3 %}

{%block body%}
<br>
<br>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-default" >
                
                    <div class="panel-heading">
                        <h4 id="list-item-1">Register</h4>
                    </div>
                    <div class="panel-body">
                        <div class="box box-info">
                    <div class="box-body">
        <form action="" method='post'>
            {%csrf_token%}
            {% bootstrap_form form %}
<button type="submit" class="btn btn-info">회원가입</button>
<a href="{% url 'home' %}" class="btn btn-info" role="button" aria-pressed="true">취소</a>
        </form>
    </div>
        </div>
    </div>
            </div>
    </div>
            </div>
{%endblock%}